
.container-fluid {
    display: flex;
    gap: 60vw;
    z-index: 999;
    margin-top: 30px;

}

.navbar {
    background-color: transparent;
    position: absolute;
    /* top:5px;     */
}

#navbarSupportedContent {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 100;

}

#dharam a {
    color: rgb(215, 201, 201);

}

.navitem {
    text-align: center;

}

#navgap {
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

#logo {
    color: rgb(247, 236, 236);
    border: 2px solid black;
    border-radius: 5px;
    background-color: #485054;
}

#logo a {
    color: rgb(106, 151, 190);
}
