

<body>

    <footer class="text-center text-white" style=" background-color: #11131b;" id="ftr">
        <!-- Grid container -->

        <div class="p-5 pb-5" id="icons">
            <div id="cnt">
                <p>&copy; contact.lucidDream.io</p>
            </div>

            <!-- Section: Social media -->
            <section class="mb-8" id="dharam">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="ri-facebook-circle-line"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="ri-twitter-line"></i></a>


                <!-- Instagram -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="ri-instagram-line"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="ri-linkedin-fill"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
                        class="ri-github-line"></i></a>



            </section>
            <div class="d-flex" id="bred">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="color: white;">
                        <li class="breadcrumb-item"><a href="#">FAQ</a></li>
                        <li class="breadcrumb-item"><a href="#">Terms</a></li>
                        <li class="breadcrumb-item"><a href="#">Privacy</a></li>
                        <li class="breadcrumb-item"><a href="#">Press</a></li>
                    </ol>
                </nav>
            </div>



            <!-- Section: Social media -->

        </div>
    </footer>
</body>

