
<body>
    

<div id="parallax">
</div>

<!-- first card -->
<div class="card" id="card1" style="width: 30rem; height: 30rem;">
    <div class="card-body card-dharam">
        <h1 class="card-title" style="color: white; opacity: 0.7; background-color:transparent;">The best app to
            start lucid dreaming</h1>
        <p class="card-text" style="color:white; opacity: 0.7; background-color:transparent;">All the most popular
            lucid dreaming techniques in
            one app. All the tools you need to start your lucid dreaming journey.</p>
        <button type="button" class="btn btn-primary btn-lg">Download</button>
    </div>
</div>

<!-- secound card -->
<div class="card mb-3 mx-auto" id="card2" style="max-width: 940px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://images.unsplash.com/photo-1582212742235-a2500f31cb39?q=80&w=1944&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <br> <br> <br>
                <h2 class="card-title">What if you could control your dreams?</h2><br>
                <p class="card-text" style="opacity: 0.5;">Lucid dreams are dreams in which you realize that you are
                    dreaming. In these dreams you can control everything and do whatever you want. You can choose
                    what you do, where you are, who is around you, etc… Your imagination is the limit in this world.
                    <br> <br>

                    Seems unreal? Well it’s true. And guess what: everyone can have lucid dreams! And Oniri is here
                    to help you. So are you ready to embark on this journey?
                    <br>
                    <br>

                    Let the lucid dreaming revolution begin.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- icons of bar -->
<br>
<br>
<br>
<br>
<br>
<br>

<div class="card mx-auto" id="ic" style="max-width: 50rem;">
    <div class="card-header">
        Use lucid dreams the way you want
    </div>
    <div class="card-body" id="use">
        <a href="#" class="btn btn-primary "><i class="ri-rocket-line"></i> &nbsp;Fly to the moon</a> &nbsp;
        <a href="#" class="btn btn-primary"><i class="ri-moon-fill"></i>&nbsp;Escape a nightmare</a> &nbsp; <br>
        <a href="#" class="btn btn-primary"><i class="ri-star-fill"></i>&nbsp;Meet a Celebrity</a> &nbsp;
        <a href="#" class="btn btn-primary"><i class="ri-find-replace-line"></i>&nbsp;Find your
            inspiration</a>&nbsp;
        <a href="#" class="btn btn-primary"><i class="ri-hourglass-2-fill"></i>&nbsp;Talk to a lost one</a>&nbsp;
        <br>
        <a href="#" class="btn btn-primary"><i class="ri-screenshot-2-line"></i>&nbsp;Talk a luxurious
            trip</a>&nbsp;
        <a href="#" class="btn btn-primary"><i class="ri-drinks-2-fill"></i>&nbsp;Have the perfect date</a>&nbsp;
        <br>
        <a href="#" class="btn btn-primary"><i class="ri-presentation-line"></i>&nbsp;Practice your next
            presention</a>&nbsp;
        <a href="#" class="btn btn-primary"><i class="ri-heart-3-fill"></i>&nbsp;Learn a new instrument</a>&nbsp;
        <br>
        <a href="#" class="btn btn-primary"><i class="ri-graduation-cap-fill"></i>&nbsp;Prepare your next
            exam</a>&nbsp;
    </div>
</div>


<!-- fly the mood -->
<div class="card  mx-auto" id="use1" style="width: 50rem;">
    <div class="card-body">
        <p class="card-text">Your imagination is the limit to what lucid dreams can do.</p>
        <a href="#" class="card-link">More info..</a>
    </div>
</div>




<!-- trying for javascript -->
<script src="assets/js/custome.js"></script>

<!-- background end -->

</body>