/* Parallax */
body {
    background-color: #1d1e22;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.parallax-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    position: absolute;
    
}
#nav{
    position: absolute;
    z-index: 999;
    display: flex;
    align-items: end;
    background-color: rgb(21, 23, 23);
    top: 40%;
}

#parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png),
        url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png),
        url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 20px;
}

h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e8dfdf;
    font-family: "Arial";
    text-transform: uppercase;
    opacity: 0.9;
    font-size: 70px;
    /* position: fixed; */
}



/* Main card styling */
.card {
    border-radius: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95);
}

/* Blog positioning */
.container-fluid {
    position: relative;
}

#main {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    /* Align items to the top of the container */
    position: absolute;
    top: 200%;
    /* Adjust this value based on your layout */
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer styling */
app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
    /* Adjust the margin to create space between the main content and footer */
}