<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <div class="container-fluid">
        <div id="parallax" class="parallax-container">
            <h1>Blogs <span class="badge bg-secondary">New</span></h1>
            <div class="btn-group" role="group" aria-label="Basic outlined example" id="nav" style="opacity: 0.8;">
                <button type="button" class="btn btn-danger">Sleep & Dreams</button>
                <button type="button" class="btn btn-danger">Dream Journaling</button>
                <button type="button" class="btn btn-danger">Dream Interpretaion</button>
                <button type="button" class="btn btn-danger">Lucid Dreams</button>

            </div>
        </div>



        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4" id="main">
            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">How to Be a Better Lucid Dreamer</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">How to Lucide Dream With Team out of the box</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Partner Assisted Lucidity Technique</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mistake To Avoid While Lucid Dreaming</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">How to Make Your Reality Checks More Effective</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Science Behind Lucid Dreaming:</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid7.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">What Happens if you Ask the Date & Time in a Dream?</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid10.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">How to Turn Sleep Paralysis into a Lucid Dream</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">10 Things To Try in Your Next Lucid Dream</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid9.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Does Meditation Help With Lucid Dreaming?</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid11.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Lucid Dreaming and Mental Health</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid12.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">How to Have a Lucid Dream Tonight</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid13.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">How to Lucid Dream:Step-by-Step Guide</h5>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid14.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">How You Get Stuck in a Lucid Dream?</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="assets/images/lucid15.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Are Lucid Dreams Real?</h5>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="assets/images/setdream.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="assets/images/setdream.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="assets/images/setdream.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <app-footer></app-footer>

</body>

</html>